html {
    font-size: 15px;
}
.menu {
    background-color: #292b32;
    font-size: 0.9rem;
    color: #FFF;
}

.menu .list-group-item {
    border-radius: 0 !important;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: transparent;
}

.menu a {
    text-decoration: none;
    color: #FFF;
}

.menu a:hover {
    transition-duration: 0.2s;
    background-color: #0e0e14;
    border-left: inset #4cddf8 4px;
}

.menu a.active-link {
    background-color: #0e0e14;
    border-left: inset #4cddf8 4px;
}

.content:last-child {
    padding: 2rem 3rem;
}

table.table-data td{
     padding: .3rem;
}

.card-body, .card-header {
    padding: 0.75rem;
}

.btn-logo {
    font-size: 0.75rem;
}

.profile-header{
    text-align: right;
}

.mhs-row {
    cursor: pointer;
}